In [1]:
url = "https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz"

In [2]:

import os

In [3]:
# here we want the file name that needs to be extracrted


os.path.basename(url)

'housing.tgz'

In [4]:
os.listdir()

['example.ipynb', 'example2.ipynb']

In [5]:
# data ingestion

In [6]:
import pandas as pd

In [8]:
housing_data_frame = pd.read_csv(r"E:\machine_learning_project\machine_learning_project\housing\artifact\data_ingestion\2024-03-23-02-08-24\raw_data\housing.csv")

In [9]:
housing_data_frame

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [11]:
housing_data_frame.columns,housing_data_frame.dtypes.values

(Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value', 'ocean_proximity'],
       dtype='object'),
 array([dtype('float64'), dtype('float64'), dtype('float64'),
        dtype('float64'), dtype('float64'), dtype('float64'),
        dtype('float64'), dtype('float64'), dtype('float64'), dtype('O')],
       dtype=object))

In [14]:
dtypes =list( map(lambda x : str(x).replace("dtype('","").replace("')",""),housing_data_frame.dtypes.values))

In [15]:
dtypes

['float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'object']

In [16]:
columns = housing_data_frame.columns

In [19]:
dict(zip(columns,dtypes))

{'longitude': 'float64',
 'latitude': 'float64',
 'housing_median_age': 'float64',
 'total_rooms': 'float64',
 'total_bedrooms': 'float64',
 'population': 'float64',
 'households': 'float64',
 'median_income': 'float64',
 'median_house_value': 'float64',
 'ocean_proximity': 'object'}

In [20]:
housing_data_frame['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [2]:
import yaml

In [3]:
model_file_path = r"E:\machine_learning_project\machine_learning_project\config\model.yaml"

In [4]:
with open(model_file_path) as yaml_file :
    config = yaml.load(yaml_file)

e:\machine_learning_project\machine_learning_project\venv\lib\site-packages\ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

In [5]:
config

{'grid_search': {'class': 'GridSearchCV',
  'module': 'sklearn.model_selection',
  'params': {'cv': 5, 'verbose': 2}},
 'model_selection': {'module_0': {'class': 'LinearRegression',
   'module': 'sklearn.linear_model',
   'params': {'fit_intercept': True},
   'search_param_grid': {'fit_intercept': [True, False]}},
  'module_1': {'class': 'RandomForestRegressor',
   'module': 'sklearn.ensemble',
   'params': {'min_sample_split': 2, 'min_samples_leaf': 3},
   'search_param_grid': {'min_samples_leaf': [6],
    'oob_score': [True, False],
    'max_features': ['sqrt', 'log2']}}}}

In [6]:
GRID_SEARCH_KEY = 'grid_search'
MODULE_KEY = 'module'
CLASS_KEY = 'class'
PARAM_KEY = 'params'
MODEL_SELECTION_KEY = 'model_selection'
SEARCH_PARAM_GRID_KEY = "search_param_grid"

In [7]:
grid_search_cv_module: str = config[GRID_SEARCH_KEY][MODULE_KEY]

In [8]:
grid_search_cv_module

'sklearn.model_selection'

In [9]:
config[GRID_SEARCH_KEY][CLASS_KEY]

'GridSearchCV'

In [10]:
type(config[MODEL_SELECTION_KEY])

dict

In [11]:
config[GRID_SEARCH_KEY][PARAM_KEY]

{'cv': 5, 'verbose': 2}